
/* style section SERVICES */
.services {
    padding: 0 100px;
    margin-bottom: 20px;
}
.services .info {
    text-align: center; 
    /* background-color: #e5e5e5; */
    border-radius: 20px;
    padding: 20px 0px ;
}
.services .info h1 {
    font-size: 40px;    
}
.services .info  p {
    font-size: 80px;
    padding: 20px;  
}

.services .container  {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
    width: 100%;
    
}
.services .container .box {
    background-color: rgba(226, 226, 226, 0.274);
    border-radius: 10px;
    padding: 40px 20px;
    max-width: 350px;
    transition: .3s;
    margin-bottom: 15px;
    
}
.services .container .box i {
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 15px;
    transition: .3s;
}
.services .container .box h4 {
    margin-top:  20px;
    transition: .3s;
    
}
.services .container .box p {
    margin-top: 10px;
    transition: .3s;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px
}
.services .container .box:hover {
    background-color: black;
}
.services .container .box:hover i{
    background-color:  rgba(226, 226, 226, 0.274);
}
.services .container .box:hover i , .services .container .box:hover p , .services .container .box:hover h4 {
    color: rgb(228, 227, 227);
}



/* Petits écrans (téléphones) */
@media (max-width: 600px) {
   
    .services {
        padding: 0px 0px;
        
    }
    .services .info  h1 {
        font-size: 30px;
        
    }
    .services .info  p {
        font-size: 40px;
        padding: 10px;  
        padding: 0;
        
    }
    .services .container  {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 10px;
        flex-wrap:nowrap;  
        padding: 10px;

    }
    .services .container .box {
        max-width: none;   
    }
    .services .container .box p {
        font-size: 20px;
        padding: 0;
    }
}

/* Écrans moyens (tablettes) */
@media (min-width: 601px) and (max-width: 1024px) {
   
    .services {
        padding: 0px 0px;
        
    }
    .services .info  h1 {
        font-size: 30px;
        
    }
    .services .info  p {
        font-size: 50px;
        padding: 10px;  
        padding: 0;
        
    }
    .services .container  {
        display: flex;
        
        flex-direction:row;
        margin-top: 10px;
        flex-wrap:wrap;  
        padding: 10px;

    }
    .services .container .box {
        max-width: 48%;
         margin: (100% -96%);
    }
    .services .container .box p {
        font-size: 20px;
        padding: 0;
    }
}

/* Grands écrans (ordinateurs de bureau) */
@media (min-width: 1025px) {
    /*  */
  }