@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
}

/* HEADER STYLE */
header {
    background-color: #FBF4F4F0;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));

}

.logo img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

/* FINISH HEADER STYLE */

/* style for hero section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #FBF4F4F0;
    height: 100vh;
}

.content-box {
    max-width: 50%;
}

.content-box h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

.content-box p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
}

.cta-btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #172121;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: hsl(180, 31%, 20%);
}

.image-box {
    max-width: 50%;
}

.image-box img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .content-box,
    .image-box {
        max-width: 100%;
    }

    .content-box h1 {
        font-size: 2.5rem;
    }

    .content-box p {
        font-size: 1rem;
    }
}

/* style for hero section */



/* STYLE for FOOTER */

footer {
    background-color: rgb(46, 44, 44);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}


footer div {
    flex: 1;
    margin: 0 20px;
}

footer h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 8px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

footer ul li a:hover {
    color: #c65f48;
}

footer p {
    color: #ffffff;
}

#newsletter input,
#newsletter button {
    padding: 10px;
    margin-top: 10px;
}

#newsletter button {
    background-color: rgb(79, 156, 69);
    color: #333;
    border: none;
    cursor: pointer;
}

#newsletter button:hover {
    background-color: #df3b16;
}

#social-icons {
    text-align: center;
    background-color: rgb(46, 44, 44);
    /* Ajout de la couleur de fond */
    padding: 10px 0;
}

#social-icons a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

#social-icons a:hover {
    color: #c65f48;
}

#copyright {
    text-align: center;
    color: #ccc;
    margin-top: 0;
    padding-top: 10px;
    background-color: rgb(12, 12, 12);
}

#copyright p {
    color: #ffffff;
    padding-bottom: 20px;
}

#copyright {
    text-align: center;
    color: #ccc;
    margin-top: 0;
    padding-top: 10px;
    background-color: rgb(12, 12, 12);
}

#copyright p {
    color: #ffffff;
    padding-bottom: 20px;
}

#social-icons {
    text-align: center;
    background-color: rgb(46, 44, 44);
    /* Ajout de la couleur de fond */
    padding: 10px 0;
}



/* STYLE for FOOTER */

/* MEDIA QUERY for Mobile/Tablets */
@media (max-width: 768px) {
    nav ul {
        display: none;
        /* Hide menu by default on mobile */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #FBF4F4F0;
        border-top: 1px solid #e0e0e0;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    /* Checkbox to toggle the menu */
    .menu-checkbox {
        display: none;
    }

    .menu-icon {
        display: inline-block;
        cursor: pointer;
        font-size: 18px;
        color: #333;
    }

    /* Show the menu when the checkbox is checked */
    .menu-checkbox:checked~ul {
        display: flex;
    }
}

/* MEDIA QUERY for Desktop */
@media (min-width: 769px) {
    nav ul {
        display: flex;
        /* Ensure the nav is always visible on desktop */
        position: static;
        /* Reset position */
        flex-direction: row;
        /* Horizontal alignment for desktop */
        width: auto;
        /* Default width */
        background-color: transparent;
        /* No background on desktop */
    }

    .menu-icon {
        display: none;
        /* Hide menu icon on desktop */
    }

    /* Hide the checkbox on desktop */
    .menu-checkbox {
        display: none;
    }
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
        background-color: rgb(46, 44, 44);
        color: #fff;
        padding: 20px;
    }


    footer ul {
        list-style: none;
        padding: 0;
    }

}

@media (min-width: 601px) and (max-width: 1024px) {
    footer {
        flex-direction: column;
        text-align: center;
        background-color: rgb(46, 44, 44);
        color: #fff;
        padding: 20px;
    }


    footer ul {
        list-style: none;
        padding: 0;
    }

    #copyright {
        text-align: center;
        color: #ccc;
        margin-top: 0;
        padding-top: 10px;
        background-color: rgb(12, 12, 12);
    }

    #copyright p {
        color: #ffffff;
        padding-bottom: 20px;
    }

    #social-icons {
        text-align: center;
        background-color: rgb(46, 44, 44);
        /* Ajout de la couleur de fond */
        padding: 10px 0;
    }

}

@media (min-width: 1025px) {
    footer {
        background-color: rgb(46, 44, 44);
        color: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }


    footer div {
        flex: 1;
        margin: 0 20px;
    }

    footer h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    footer ul {
        list-style: none;
        padding: 0;
    }

    footer ul li {
        margin-bottom: 8px;

    }

    footer ul li a {
        text-decoration: none;
        color: #fff;
    }

    footer ul li a:hover {
        color: #c65f48;
    }

    footer p {
        color: #ffffff;
    }

    #newsletter input,
    #newsletter button {
        padding: 10px;
        margin-top: 10px;
    }

    #newsletter button {
        background-color: rgb(79, 156, 69);
        color: #333;
        border: none;
        cursor: pointer;
    }

    #newsletter button:hover {
        background-color: #df3b16;
    }

    #social-icons {
        text-align: center;
        background-color: rgb(46, 44, 44);
        /* Ajout de la couleur de fond */
        padding: 10px 0;
    }

    #social-icons a {
        margin: 0 10px;
        color: #fff;
        text-decoration: none;
        font-size: 24px;
    }

    #social-icons a:hover {
        color: #c65f48;
    }

    #copyright {
        text-align: center;
        color: #ccc;
        margin-top: 0;
        padding-top: 10px;
        background-color: rgb(12, 12, 12);
        ;
    }

    #copyright p {
        color: #ffffff;
        padding-bottom: 20px;
    }


}