
.body{
    padding: 0px;
    margin: 0px;
}
.header_contact{
    width: 100%;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    left: 0;
    background-image: url('/contact_page/img_contact/contact_us2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact .header_contact h1{
    font-size: 70px;
    color: rgb(233, 228, 228);
    text-shadow: 0 0 7px rgb(109, 100, 100);
}
.home_2 {
    width: 50%;
    height: 84%;
    background-color: rgb(50, 111, 197);
    text-align: center;
    padding-top: 8%;
}
.meduim{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}
.meduim .Coordonnees{
    margin-top: 50px;
}
.meduim .Coordonnees h2{
    font-size: 30px;
}
.meduim .Coordonnees .informations{
    font-size: 18px;
}
.meduim .Coordonnees .p1{
    font-size: 16px;
    font-weight: 600;
    line-height: 1,5;
}
.login{
    border: none;
    padding: 25px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.127);
}
.class_1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 10px;
}
.class_1 .info_1 input{
    width: 250px; 
    height: 55px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.127);
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
}
.login .info input{
    width: 550px;
    height: 55px;
    font-size: 16px;
    padding: 10px;
}
.login input.msg{
    position: relative;
    padding-bottom: 120px;
}
.info{
    padding-bottom: 10px;
}
.info input{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.127);
    border: none;
    outline: none;
}
.send button{
    color: white;
    background-color: rgb(109, 113, 118);
    border: none;
    padding: 10px;
    font-size: 18px ;
}
.map{
    margin: 60px;
}